<div class="container">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for item in carouselItems %}
            <div class="carousel-item {{item.active != NULL ? 'active' : ''}}">
                <img src=" {{item.imgPath}} " class="" alt="{{ item.description }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{item.imgTitle}}</h5>
                    <p>{{item.imgDescription}}</p>
                </div>
            </div>
            {%endfor%}
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carousel" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
</div>